/* CSS */

.seccion-uno {

    border: 3px dotted blue; /* dotted -> Estilo punteado */
    margin: 20px;            
    padding: 10px;           

  }
  
 
.seccion-dos {

    border-style: solid; 
    border-width: 5px 10px 15px 20px;  /* Grosor diferente para cada lado arriba, dcha, abajo, izq */
    border-color: green;   
  }
  
 
.seccion-tres button {

    border: 4px double red;  /* double ->Estilo doble */
    border-radius: 15px;       /* border- radius -> Esquinas redondeadas */
    padding: 10px 20px;       
    
  }
  
