/* CSS BASICO */
table {
    /* border-collapse: collapse; */
    width: 100%;
    border-collapse: separate; /* Espaciado entre celdas */
    border-spacing: 10px; /* Espacio entre bordes */
    table-layout: fixed; /* Ancho uniforme de celdas */
}

caption {
    caption-side:bottom;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}

th, td {
    padding: 8px;
    border: 1px solid #444;
    text-align: center;
}

thead th {
    background-color: #0c4656;
    color: white;
    border: 1px solid #070101;
}

tbody tr:nth-child(odd) { /* Para cambiar color a las filas*/
    background-color:rgb(12, 204, 181) ;
}
tbody tr:nth-child(even) { /* Para cambiar color a las filas*/
    background-color: #127191; 
}

.empty-cell {
    empty-cells: show;
    background-color: #f8d7da;
    border: 1px dashed #150462;
   
}