/* CSS BASICO */
table {
    /*border-collapse: collapse;*/
    table-layout: fixed;
    width: 100%;

    border-collapse: separate;
    border-spacing: 5px;
}

caption {
    caption-side:bottom;
    text-align: center;
}

th, td {
    padding: 8px;
    border: 1px solid ;
    text-align: center;
}

thead th {
    background-color: white;
}

tbody tr {
    background-color:rgb(131, 131, 155) ;
}

.empty-cell {
    empty-cells: show;
   
}