/* CSS */
.seccion-uno {
    margin: 20px;
    background-color: blueviolet;
}


.seccion-dos {
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 30px;
    margin-left: 40px;
    background-color: violet;
}


.seccion-tres button {
    margin: auto;
    margin-top: 50px;
    background-color: aqua;
    width: 30%;
}