.home{
    width: 46px;
    height: 44px;
    background: url() 0 0;
}

.buscar{
    width: 46px;
    height: 44px;
    background: url() 0 0;
}



.configurar{
    width: 46px;
    height: 44px;
    background: url() 0 0;
}

