.home {
    left: 0px;
    width: 46px;
    background: url() 0 0;
}

.buscar {
    left: 63px;
    width: 43px;
    background: url() 0 0;
}



.configurar {
    left: 129px;
    width: 43px;
    background: url() 0 0;
}