/* CSS */

.contorno {
    outline: 2px solid black;
    outline-style: dotted;
    margin: 10px;
}

.ancho {
    outline: 5px solid blue;
    margin: 10px;
}

.desplazamiento {
    outline: 2px solid red;
    outline-offset: 10px;
    margin: 10px;
}