/* CSS */
header {
    background-color: #f0f0f0;
    padding: 20px;

    text-align: center;
}

.columna1 {

    float: left;
    width: 22.5%;    
    background-color: #4890d3;
    padding: 20px;
    border:2px solid black;
    
}

.columna2 {

    float: left;
    width: 22.5%;    
    background-color: #bcf0b2;
    padding: 20px;
    border:2px solid black;

}

.columna3 {

    float: left;
    width: 22.5%;    
    background-color: #caaff1;
    padding: 20px;
    border:2px solid black;

}

footer{

    clear: both;
    background-color: #f0c0e8;
    padding: 20px;

    text-align: center;

}

.columna4 {

    float: left;
    width: 22.5%; 
    padding: 20px;   
    border:2px solid black;

}