/* CSS Estilo */

/*Usa herencia para aplicar un color de texto general a todo el documento.*/
body {

    color: black;
}

/*Los párrafos dentro de la sección deben usar una fuente diferente de la predeterminada.*/
section p {

    font-family: 'Courier New', Courier, monospace;
}

/*El elemento con la clase highlight debe tener un fondo amarillo y un texto en negrita.*/
.highlight {

    background-color: yellow;
    font-weight: bold;
}

/*El párrafo con el id="override" debe sobrescribir el color de texto general con uno personalizado.*/
#override {
    color: rgb(115, 12, 156) !important;
}

/*Asegúrate de que el título principal (h1) herede el color general pero tenga un tamaño mayor definido directamente.*/

#main-header h1 {

    font-size: 25px !important;
    
}


header,footer {

    text-align: center;
    padding: 10px;

}

.container {

    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;

}






/*
Preguntas para Reflexionar:
1. ¿Qué sucede si cambias el orden de las reglas CSS?
- La ultima orden que se le de al CSS tendrá prioridad sobre las reglas anteriores con igual especificidad. 

2. ¿Cómo afecta la especificidad a los estilos aplicados en el párrafo #override?
- Tendrán prioridad sobre otros selectores con menor especificidad, incluso si están definidos más adelante en el archivo CSS

3. ¿Qué sucede si eliminas el !important de alguna regla?
- Perderá prioridad frente a otras reglas con igual o mayor especificidad que no tienen !important.

4. ¿Qué reglas son heredadas automáticamente y cuáles necesitas especificar explícitamente?
- 

*/