/* CSS */

.cabecera {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  rgb(180, 185, 183);
}

.menu ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    margin: 0 10px;
}

.menu ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.titulo {
    margin-right: 20px;
    color: black;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    flex-wrap: 20px;
}

.galeria div {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
}

.galeria img {
    width: 100%;
    height: auto;
    max-width: 200px;
    max-height: 150px;
}

footer {
    
    width: 100%;
    background-color: rgb(180, 185, 183); /* Color de fondo opcional */
    text-align: center;
}

footer p {
    margin: 10px 0;
    color:black;
}