/* CSS */

.cabecera {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(70, 68, 66);
}

.titulo {
    margin-right: 20px; /* Añade un poco de espacio entre el título y el menú */
    color:white;
}

.menu {
    
    width: 100px;
    margin: 10px;
    margin-left: auto;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.galeria div {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
}

.galeria img {
    width: 100%;
    height: auto;
    max-width: 200px;
    max-height: 150px;
}

footer {
    
    width: 100%;
    background-color: rgb(70, 68, 66); /* Color de fondo opcional */
    text-align: center;
}

footer p {
    margin: 10px 0;
    color:white;
}